/* style.less */

@import "bootstrap";
@import "theme";

body {
  padding: 1em;
  padding-top: @navbar-height + 10px;
}

.dropdown-menu {
  .menu-note {
    padding-left: 1em;
  }
}

#wrapper {
  position: relative;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
