<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>Atticus</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>      
    </script>
  </head>
  <body>
    [% content %]
    <div id="footer">
      Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
    </div>
  </body>
</html>
