<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>Atticus</title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
  </head>
  <body>
    [% content %]
    <div id="footer">
      Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
    </div>
  </body>
</html>
